*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}

header{
    display: flex;
    width: 100%;
    height: 100px;
    background-color: #d4d4d4;
}

.logo{
    width: 180px;
    margin: 0 0 0 5em;
}

nav {
    margin: 2em 0 0 75em;
}

nav a{
    margin: 20px;
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

nav a:hover{
    color: #378CE8;
}

h1{
    padding-bottom: 30px;
    font-weight: 500;
}

#hero-box{
    display: grid;
    width: 100vw;
    grid-template-columns: repeat(auto-fit, minmax(30ch, auto));
    gap: 2rem;
    padding: 10vmin 2rem;
    align-items: center;
    justify-content: center;
}

.hero-desc{
}

.hero-img {
    width: 600px;
    border-radius: 20px;
}

h2{
    text-align: center;
    margin: 30px;
    font-weight: 400;
}

.sec-2-desc{
    padding: 0 135px 0 125px;
}

.sub-section-img{
    display: grid;
    width: 100vw;
    grid-template-columns: repeat(auto-fit, minmax(30ch, auto));
    gap: 15rem;
    padding: 10vmin 2rem;
    align-items: center;
    justify-content: center;
}

.sub-sec-img{
    width: 500px;
    border-radius: 20px;
}

footer{
    height: 100px;
    width: 100%;
    background-color: lightgray;
}

footer img{
    width: 150px;
    margin: 1em 0 0 7em;
}


/* About Us */


.about-us{
    text-align: center;
    margin: 20px;
}

.about-main-img{
    width: 85%;
    height: 60vh;
    border-radius: 20px;
    margin-left: 9em;
}

.section-details p{
    margin: 2em 0 0 7.5em;
    font-size: 20px;
}

.ssi-1{
    width: 700px;
    height: 40vh;
}

.ssi-2{
    width: 700px;
    height: 40vh;
}

/* Our Support */

.our-support{
    text-align: center;
    margin: 20px;
}

.our-support-img {
    width: 85%;
    height: 60vh;
    border-radius: 20px;
    margin-left: 9em;
}

.section-details p {
    margin: 2em 0 0 7.5em;
    font-size: 20px;
}

.ssi-1 {
    width: 700px;
    height: 40vh;
}

.ssi-2 {
    width: 700px;
    height: 40vh;
}